{% extends "base.html" %}

{% block title %}
 <title>Almacenes - Alta</title>
{% endblock %}

{% block link_almacenes %}
class="active"
{% endblock %}

{% block tab_crear %}
class="active"
{% endblock %}

{% block link_crear %}
/depositos/alta/
{% endblock %}
{% block link_editar %}
/depositos/listado/
{% endblock %}
{% block link_eliminar %}
/depositos/baja/
{% endblock %}

{% block content %}
			<div class="col-md-9">
				<div class="tab-content">
				  <div class="tab-pane active" id="crear-producto">
					<form action="" method="post">{% csrf_token %}
						{{ form.as_p }}
						{{ form_ubicacion.as_p }}
						<input type="submit" value="Enviar" />
					</form>
				  </div>
				</div>
			</div>
{% endblock %}
