{% extends "base.html" %}

{% block title %}
 <title>Proveedores - Alta</title>
{% endblock %}

{% block link_proveedores %}
class="active"
{% endblock %}

{% block tab_crear %}
class="active"
{% endblock %}

{% block link_crear %}
/proveedores/alta/
{% endblock %}
{% block link_editar %}
/proveedores/listado/
{% endblock %}
{% block link_eliminar %}
/proveedores/baja/
{% endblock %}

{% block content %}
			<div class="col-md-9">
				<div class="tab-content">
				  <div class="tab-pane active" id="crear-proveedor">
					<form action="" method="post">{% csrf_token %}
						{{ form.as_p }}
						<input type="submit" value="Enviar" />
					</form>
					</div>
				</div>
			</div>
{% endblock %}
