{% extends "base.html" %}

{% block title %}
 <title>Proveedores - Edici&oacute;n</title>
{% endblock %}

{% block link_proveedores %}
class="active"
{% endblock %}

{% block tab_editar %}
class="active"
{% endblock %}

{% block link_crear %}
/proveedores/alta/
{% endblock %}
{% block link_editar %}
/proveedores/listado/
{% endblock %}
{% block link_eliminar %}
/proveedores/baja/
{% endblock %}

{% block content %}
			<div class="col-md-9">
				<div class="tab-content">
				  <div class="tab-pane active" id="editar-proveedor">
					<form action="" method="post">{% csrf_token %}
						{{ form.as_p }}
						<a href="../../listado/" class="btn btn-default">Volver</a>
						<input type="submit" value="Enviar" class="btn btn-success"/>
					</form>
					</div>
				</div>
			</div>
{% endblock %}

