<!DOCTYPE html>

<html>
	<head>
		<title>Administraci&oacute;n de Almacenes - Index</title>
	</head>
	<body>
		<h1>Administraci&oacute;n de Almacenes - Index</h1>
		<h2>Usuarios</h2>
		<ul>
			<li>
				<a href="/usuarios/alta/">Alta</a>
			</li>
			<li>
				<a href="/usuarios/edicion/">Edici&oacute;n</a>
			</li>
			<li>
				<a href="/usuarios/baja/">Baja</a>
			</li>
		</ul>
		<h2>Almacenes</h2>
		<ul>
			<li>
				<a href="/depositos/alta/">Alta</a>
			</li>
			<li>
				<a href="depositos/edicion/">Edici&oacute;n</a>
			</li>
			<li>
				<a href="depositos/baja/">Baja</a>
			</li>
		</ul>
		<h2>Productos</h2>
		<ul>
			<li>
				<a href="/productos/alta/">Alta</a>
			</li>
			<li>
				<a href="/productos/edicion/">Edici&oacute;n</a>
			</li>
			<li>
				<a href="/productos/baja/">Baja</a>
			</li>
		</ul>
		<h2>Reportes</h2>
		<ul>
			<li>
				<a href="/reportes/listado-de-usuarios/">Listado de Usuarios</a>
			</li>
			<li>
				<a href="/reportes/listado-de-almacenes/">Listado de Almacenes</a>
			</li>
			<li>
				<a href="/reportes/listado-de-productos/">Listado de Productos</a>
			</li>
		</ul>
	</body>
</html> 
